@import 'variables.scss';

$family-sans-serif: 'Rubik', sans-serif;

/* @font-face {
   font-family: "Fredoka";
   src: local("Fredoka"),     
   url(./fonts/Fredoka/Fredoka-Regular.ttf) format("truetype");
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

p {
  margin: 20px 0;
  font-size: 1.12em;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: 'Fredoka', sans-serif;
}
h2 {
  font-size: 1.7em;
  font-family: 'Rubik', sans-serif;
}

.claim {
  font-size: 1em;
  text-align: center;
  font-family: 'Fredoka', sans-serif;

  @include mobile {
    text-align: justify;
  }
}

.logo {
  @include mobile {
    font-size: 0.9em !important;
  }
}

.imageContainer img, .reviews img  {
  display: block;
  height: 355px !important;
  width: auto !important;
  border-radius: 10px 30px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

.video,
svg {
  display: none;
}



//----------------------------------------------------------------
//FOOTER
//----------------------------------------------------------------


.footer {
    background-color: rgb(26, 1, 29);
    background: linear-gradient(15deg, #025223, #010f29, #015d69);
    color: rgb(177, 177, 177);
    font-size: .734em;
    text-align: justify;
    justify-content: center;
    line-height: 2.5em;
    padding: 3rem 1.5rem 3rem !important;

    .column {
        border-right: 2px dotted rgba(72, 151, 151, 0.418);
        border-left: 2px solid rgb(0, 4, 10);
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .column:first-child {
        border-left: 0px;
    }
    .column:last-child {
        border-right: 0px;
    }
    p a {
         color: rgb(11, 161, 116);
         font-weight: 500;
    }

    p:nth-child(2) a {
        color: rgb(9, 134, 97);
    }
    p:nth-child(3) a {
        color: rgb(9, 121,  97);
    }
    p:nth-child(4) a {
        color: rgb(9, 105, 97);
    }
    p:nth-child(5) a {
        color: rgb(9, 96, 97);
    }
    p a:hover {
        color: rgb(9, 83, 97);
    }

}