/* @import "~bulma/sass/utilities/_all"; */

//VARIABLES

$blue: #2e9f6d;
$primary: #015049;

$yellow: #343434;
$is-yellow: #343434;


@import "~bulma/bulma";

/* @import "~buefy/src/scss/buefy"; */


